<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>

<form>
    Enter product name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form>
<p><a href="/create-product">Create New Product</a> </p><br/>
    <table border="1">
        <div>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Type</td>
                <td></td>
            </tr>
            <div th:each="product : ${products}">
                <tr>
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.type}"></td>
                    <td><a th:href="@{/edit-product/__${product.id}__}">Edit</a>/<a th:href="@{/delete-product/__${product.id}__}">Delete</a></td>
                </tr>
            </div>
        </div>
    </table>
</body>
</html>